html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.screen {
    display: flex;
    height: 88vh; 
    gap: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.sidebar, .all-chats, .chat-window {
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
    overflow-y: auto;
}

header h1{
    font-size: 2rem;
    margin-left: 1rem;
}

.sidebar{
    width: 50px;
    background: #f8f2e7;
    padding: 1rem 1rem;
    margin-left: 0.8rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    
}

.sidebar-menu p, .sidebar-footer p {
    font-size: x-small;
    height: 45px;  
    width: 100%;
    text-align: center;
    margin: 0.8rem 0;  
    cursor: pointer;
    transition: background 0.2s ease; 
    padding: 0.8rem 0;
}

.sidebar-menu p i, .sidebar-footer p i {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    display: block;
    opacity: 0.9;
    text-align: center;
}

.sidebar-menu p:hover, .sidebar-footer p:hover {
    background: #fbfce7;
    width: 55px;
    border-radius: 10%;
}

.sidebar-footer{
    margin-top: 1rem;
}


/* =============== Chats section =============== */

.all-chats {
    width: 18rem;
    background: #f8f7f2;
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
    margin-left: 1.5rem;
    border-radius: 20px;
    box-sizing: border-box;
}


.searchbar, .searchbar input{
    width: 90%;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border: none;
    background: #f1f0f7;
    font-size: 1rem;
    
}

.searchbar input:focus {
    outline: none;
    border-color: #e0eec1;
    box-shadow: 0 0 6px rgba(220, 206, 184, 0.4);
}

.chat-item{
    display:flex;
    align-items: center;
    gap: 1rem; 

    padding: 0.8rem;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;

    transition: background 0.2s ease;
}

.chat-item:hover {
    background: #fffde8;
}

.avatar{
    width: 40px;
    height: 40px;
    background: #fbf7df;
    align-items: center;
    padding: 0.2rem;
    justify-content: center;
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 30px;
}

.name {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
}

.chat-preview{
    margin: 0;
    font-size: 0.85rem;
    color: #666;
}

/* =============== Current Chat =============== */

.chat-window {
    width: 52rem;
    background: #e7e1d3;
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
    margin-left: 1.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.chat-header {
    padding: 1rem;
    border-bottom: 1px solid rgba(0 0 0 0.1);
    background-color: #9b978b;
    border-radius: 20px;
}

.chat-header h2 {
    margin: 0;
    font-size: 1.4rem;
}

.chat-header .status {
    margin: 0;
    font-size: 0.85rem;
    color: #666;
}

/* =============== messages =============== */

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 1.5rem 1rem;  
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.message {
    max-width: 65%;
    padding: 0.9rem 1.2rem;
    border-radius: 16px;
    margin-bottom: 0.4rem;
    line-height: 1.5;
}

.sender {
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 0.85rem;
    color: #333;
}

.incoming {
    align-self: flex-start;
    background: #f5f0e0;
}

.outgoing {
    align-self: flex-end;
    background: #fcefd5;
}

.incoming, .outgoing {
    padding: 0.9rem 1.2rem;
    border-radius: 16px;
}


.text {
    margin: 0.2rem 0 0 0;
    padding:8px;
    line-height: 1.4;
}


.chat-input {
    display: flex;
    gap: 0.6rem;
    margin-top: 1rem;
}

.chat-input input {
    flex: 1;
    padding: 0.8rem 1rem;
    border-radius: 12px;
    border: 1px solid rgba(0 0 0 0.1);
    outline: none;
    background: #f1f0f7;
}

.chat-input button {
    padding: 0.8rem 1.2rem;
    border: black;
    border-radius: 12px;
    background: #deddd2;
    cursor: pointer;
}

.chat-input button:hover {
    background: #ddca5d;
}


.chat-item.active {
    background-color: #e6e0d4;
    border-radius: 12px;
}
